.header
  Leagues

.all_leagues
  .league.row_header
    .name
      Name

    .size
      Members

    .password
      Password

  .league
    .name
      = @all_league.name

    .size
      = @all_league.users.size

    .password
      No

  - @leagues.each do |league|
    .league
      .name
        = "#{league.name} (#{join_leave(league)})".html_safe

      .size
        = league.users.size

      .password
        = league.password.blank? ? 'No' : 'Yes'

      = display_error_message(league).html_safe
