.header
  User Details

.display_row
  .field
    Login
  .value
    = @user.login

.display_row
  .field
    Name
  .value
    = @user.name

.display_row
  .field
    E-Mail
  .value
    = @user.email

.display_row
  .field
    Team
  .value
    = "#{@user.team.name} (Pool #{@user.team.pool})"

.display_row
  .submit
    = link_to 'Edit', edit_user_path(@user)

