.header
  Results

= form_for Match.new, url: '/results' do |f|
  .result_row.row_header
    .name
      Match
      = f.submit 'Update'
    .pool
      &nbsp;
    .time
      Time
    .result
      Result

  - @matches.each do |match|
    = fields_for "match[]", match do |p|
      .result_row
        .name{:title => match.full_name}
          - if match.can_set_score?(current_user)
            = p.fields_for "sides[]", match.sides.first do |s|
              = s.label :score, 'Home', :style => 'display: none;'
              = s.text_field :score, {:class => 'home_team'}
            = match.match
            = p.fields_for "sides[]", match.sides.last do |s|
              = s.label :score, 'Away', :style => 'display: none;'
              = s.text_field :score, {:class => 'away_team'}
          - else
            = match.match
        .pool
          = match.pool || match.description
        .time
          = "#{match.kick_off.to_s.gsub(/\./,':')}0"
          = match.match_date.try(:strftime, '%d-%b-%Y')
        .result
          = match.details
        - if match.errors.any?
          .errors
            = match.errors.full_messages.join('<br>')
