.header
  Results

= form_for Result.new do |f|
  .result_row.row_header
    .name
      Match
      = f.submit 'Update'
    .pool
      &nbsp;
    .time
      Time
    .result
      Result

  - @results.each do |result|
    = fields_for "results[]", result do |p|
      = p.hidden_field :match_id
      .result_row
        .name{:title => result.match.full_name}
          - if result.can_set?(current_user)
            = p.label :home_team, 'Home', :style => 'display: none;'
            = p.text_field :home_team, {:class => 'home_team'}
            = result.match.match
            = p.label :away_team, 'Away', :style => 'display: none;'
            = p.text_field :away_team, {:class => 'away_team'}
          - else
            = result.match.match
        .pool
          = result.match.pool || result.match.description
        .time
          = "#{result.match.kick_off.to_s.gsub(/\./,':')}0"
          = result.match.match_date.try(:strftime, '%d-%b-%Y')
        .result
          = result.details
        - if result.error_messages
          .errors
            = result.error_messages.join('<br>')
