.header
  Join League:
  = @player.league.name

= form_for @player do |form|
  = form.hidden_field :league_id
  = form.hidden_field :user_id
  .input_row
    .field
      = form.label :password

    .value
      = form.password_field :password

  .input_row
    .submit
      = form.submit :join
