.header
  WHO DO YOU SUPPORT

.match_row.row_header
  .name
    Match
  .pool
    &nbsp;
  .time
    Time
  .location
    Location

- @matches.each do |match|
  .match_row
    .name
      = match.match
    .pool
      = match.pool || '-'
    .time
      = "#{match.kick_off.to_s.gsub(/\./,':')}0"
      = match.match_date.to_date.strftime('%d-%b-%Y')
    .location{:title => match.location}
      = match.town


