.header
  Picked a Winner?

= form_for Pick.new do |f|
  .pick_row.row_header
    .name
      Match
      = f.submit 'Update'
    .pool
      &nbsp;
    .time
      Time
    .pick
      (Average Pick)

  - @picks.each do |pick|
    = fields_for "picks[]", pick do |p|
      .pick_row
        .name{:title => pick.match.full_name}
          - if pick.can_set?
            = p.hidden_field :match_id

            = p.radio_button :team_id, pick.match.sides[0].team_id
            = p.text_field :margin, {:class => 'home_team'}

            = pick.match.match

            = p.radio_button :team_id, pick.match.sides[1].team_id
            = p.text_field :margin, {:class => 'home_team'}
          - elsif pick.match.match_date <= Date.today
            = pick.match.match
            = "(#{pick.description_with(pick.pick)})"
          - else
            = pick.match.match
        .pool
          = pick.match.pool || pick.match.description
        .time
          = "#{pick.match.kick_off.to_s.gsub(/\./,':')}0"
          = pick.match.match_date.try(:strftime, '%d-%b-%Y')
        .pick
          = pick.details
        - if pick.error_messages
          .errors
            = pick.error_messages.join('<br>')

