#left_menu
  .row
    - team = current_user.team
    .element
      MY TEAM
    .element
      = team.name
    .element
      = image_tag "flags/#{team.name}.png"
    - team.fixtures.each do |fixture|
      .element
        = "v #{fixture.opponent_to(team).name}"
  .row
    = link_to 'All Teams', teams_path
  .row
    = link_to 'Fixtures', fixtures_path

