!!!
%html
  %head
    %title
      Rugby Tipper
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
  %body
    .page
      = render :partial => 'layouts/user_details'
      .content
        = yield

        - if @current_user
          = render :partial => 'layouts/left_menu'
          = render :partial => 'layouts/right_menu'

